@use '../helpers' as *;

.header {
	&__promo {
		font-size: rem(18);
		padding-block: rem(20);
		text-align: center;
		border-bottom: var(--border);
		
		@include mobile {
			padding-block: rem(14);
		}
	}
	
	&__body {
		padding-block: rem(24);
		background-color: var(--dark-black-10);
		
		&-inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			column-gap: rem(10);
		}
		
		@include mobile {
			padding-block: rem(20);
		}
	}
	
	&__overlay {
		@include mobile-above {
			display: contents;
		}
		
		@include mobile {
			&:not(.is-active) {
				@include hide;
				
				translate: 100%;
			}
		}
	}
	
	&__menu {
		&-list {
			display: flex;
			align-items: center;
			column-gap: rem(16);
			
			@include tablet {
				column-gap: rem(6);
			}
		}
		
		&-link {
			font-size: rem(18);
			padding: rem(14) rem(24);
			color: var(--color-gray);
			
			@include laptop {
				padding: rem(10) rem(18);
			}
			
			&.is-active {
				color: var(--color-white);
				background-color: var(--color-black-accent);
				border-radius: var(--border-radius-medium);
				border: 1px solid var(--dark-black-20);
				font-weight: 500;
				pointer-events: none;
			}
		}
	}
}